<!DOCTYPE html>
<html ng-app="freeradius"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DATZ-DTZ</title>
    <meta name="description" content="DATZ token BEP-20 0xd4c--cc48 that changes to game economy.">

    <link rel="stylesheet" href="css/main.css">
    <link rel="canonical" href="datozhi.cf/">

    <link rel="shortcut icon" href="img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c ">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="theme-color" content="#ffffff ">

</head>
<body><div class="global-nav">
  <div class="global_links pull_right">
    <div class="global_link global_link_label h5 text">coming soon</div>
    <a class="global_link h5" href="#"><div class=""><span class="text">Swap</span>DATZ</div></a>
    <a class="global_link h5 active" href=""><div class=""><span class="text">Games</span><span class="text">Datz</span></div></a>
  </div>
</div>

<header class="site-header" global-header ng-class="{fixed: fixNav}">
  <div class="site-header-wrapper">
 
    <a class="site-title" href=""><img src="img/wordmark.png"></a>
    <button class="menu-icon" tab-trigger ng-click="toggle('#site-nav', true)">
      <svg viewBox="0 0 18 15">
        <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
        <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
        <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
      </svg>
    </button>
    
    <nav class="site-nav" id="site-nav" tab-content ng-class="{active : active == '#site-nav'}">

      <ul class="site-nav-list">

         <li class="site-nav-item">
            <a class="page-link h5" href="#Comunnity">Community</a>
         </li>

         <li class="site-nav-item">
            <a class="page-link h5" href="#RouteMap">Route Map</a>
         </li>
         <li class="site-nav-item">
            <a class="page-link h5" href="#buy">Buy Now</a>
         </li>

         <li class="site-nav-item">
            <a class="page-link h5" href="#Support">Support</a>
         </li>

      </ul>

    </nav>
  </div>
</header>
<div class="page-content">
<!---------------inicio inician aqui--------------------------------------------------------------------->
<section class="home_hero bg_block-hero">
    <div class="wrapper">
        <div class="row" content-group ng-init="active = '???'">

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-2'}">
                    <img class="poke_out icon_large" src="img/octo-network.png" alt="">
                    <p class="h5">DATZ - DTZ </p>
                    <p class="h6">DATZ token BEP-20 (DTZ 2.0) <a href="https://bscscan.com/token/0xd4cb4502a318d44a6aebe5cc3b4fc20fe499cc48">0xd4cb4502a318d44a6aebe5cc3b4fc20fe499cc48</a> 
                        that changes the economy of games, many games and many projects united by a common token.</p>
                    <img ng-click="toggle('#hero-more-2', true)" class="icon_small" src="img/more.png" alt="">
                    <div id="hero-more-2" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="img/octo-bright.png" alt="">
                        <p class="h5">DATZ - DTZ specs</p>
                        <p>Specifications Would you like to play multiple games and win a single token? Besides being able to move from one game to another? With DATZ it is possible.</p>
                        <img ng-click="toggle('#hero-more-2', true)" src="img/less.png" alt="" class="icon_small">
                    </div>
                </div>
            </div>

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-3'}">
                    <img class="poke_out icon_large" src="img/octo-signal.png" alt="">
                    <p class="h5">Integration to projects </p>
                    <p class = "h6"> DATZ studies the market for its member projects and likes to join high-quality Gamer projects.</p>
                    <img ng-click="toggle('#hero-more-3', true)" class="icon_small" src="img/more.png" alt="">

                    <div id="hero-more-3" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="img/octo-bright.png" alt="">
                        <p class="h5">Submit Request </p>
                        <p> Any game project can apply,
                            this does not mean that it will be integrated. Understand that we are not a token of governance but of permissive utility,
                            This means that you can have your governance token and our utility token two tokens in a blockchain game.
                            In the same way, projects that have a game and want to integrate it with the blockchain. </p>
                        <img ng-click="toggle('#hero-more-3', true)" src="img/less.png" alt="" class="icon_small">
                    </div>
                </div>
            </div>

            <div class="columns medium-4 text_centered">
                <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-1'}">
                    <img class="poke_out icon_large" src="img/octo-grad.png" alt="">
                    <p class="h5">Educational communities </p>
                    <p class = "h6"> Controlling access to campus cryptocurrencies in our communities to their proper use. </p>
                    <img ng-click="toggle('#hero-more-1', true)" class="icon_small" src="img/more.png" alt="">

                    <div id="hero-more-1" class="home_hero_block_overlay block_shadow">
                        <img class="icon_medium" src="img/octo-bright.png" alt="">
                        <p class="h5">Educational Communities </p>
                        <p> DATZ follows a gamification approach and strives to also reach the hands of
                            people who have never interacted with cryptocurrencies before, join <a href="http://discord.gg/hj3azmZxJR"> DATZ - server </a> Discord.</p>
                        <img ng-click="toggle('#hero-more-1', true)" src="img/less.png" alt="" class="icon_small">
                    </div>
                </div>
            </div>

        </div>

        <div class="text_centered base_padding">
            <h1>Fast, feature-rich, and scalable.</h1>
            <h2 class="h3">Get started with the world’s most widely deployed DATZ</h2>
            <a href="img/BlackPaperDATZ-DTZ.pdf" class="button bg_accent-green h5">Black Paper</a>
        </div>
    </div>
    <div class="wave">
        <img src="img/wave-mask.svg">
    </div>
</section>
<!---------------datz 2.0 inician aqui------------------------------------------------------------------->
<section class="lg_padding_v bg_block-light inner_padded_blocks">
    <div class="wrapper">
        <div class="row">
               <img class="medium-5" width="500" src="img/1world.png" alt="DATZ 2.0">

            <div class="columns medium-5 medium-offset-1">
                <div class="inner">
                    <h3 class="h4">The DATZ-DTZ 2.0 project, the BEP-20 token under the Binance Smart Chain network
                        open implementation for your projects </h3>
                    <p> Datz is friendly and something indulgent of new users. After all, they start them with
                        the token in the easiest way possible through a fun attitude, taking into account that
                        the economy of games, gamification and education is a main objective of the project,
                         finally allowing everyone to manage CRYPTO assets.
                    <br> <br>
                        Datz is a token BEP20 in the BSC that changes the economy of the games,
                         Well imagine you play one game and you earn 30
                         coins and then start in other and there you need to buy a gun that costs you
                          20 coins you can play all the game or you join Datz, because with Datz you can move
                          the currency of one to other and buy the you so much.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------conoce acerca de inician aqui----------------------------------------------------------->
<section class="text_centered lg_padding_v">
    <div class="wrapper">
        <img class="icon_large" src="img/octo-construction.png" alt="">
        <h3 class="h2">Get involved with The DATZ Server Project</h3>
        <p class="lg_padding_h">Our comprehensive support for protocols, data stores, directories, databases, and language integrations would not be possible without contributions from the community. Open your favourite editor and help us make DATZ better!</p>
        <div class="row base_padding_v">
            <div class="columns medium-4">
                <img class="icon_medium" src="img/develop-modules.png" alt="">
                <p class="h5">Develop new</p>
                <p>DATZ allows new project developers to join our ship, not only supports new projects but also allows those who have the desire to improve and be part of the blockchain.</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/DATZ-DTZ">             </a>
            </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="img/submit-modules.png" alt="">
                <p class="h5">Submit new proyect</p>
                <p>Developed your own proyect? Great! Submit your code back to the project and have it maintained by the community.</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/DATZ-DTZ/">Visit our GitHub page</a>
            </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="img/patch-issues.png" alt="">
                <p class="h5">DATZ 2.0</p>
                <p>DATZ has undergone a network change, and modification of certain values, in the previous version it was presented and released under the BCH network, now we operate under the Binance Smart Chain network</p>
                <a class="h5 undecorate text_accent-blue" href="https://bitcointalk.org/index.php?topic=5352590">earlier version</a>
            </div>
        </div>
        <div class="base_padding_v">
            <a href="#Comunnity" class="button bg_accent-blue h5">Join the community</a>
        </div>
    </div>
</section>
<!---------------ditribucion inician aqui---------------------------------------------------------------->
<section class="bg_block-light text_centered lg_padding_v">
    <div class="wrapper">
            <h4 class="h2"> Distribution </h4>
            <span> Know how the distribution of DATZ 2.0 will be carried out </span>
            <div class="row base_padding_v" ng-controller="SocialFeeds" ng-init="getFeeds()">

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/desarro.png" alt="">
                <h5>30% games in production and association</h5>
            </div>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/burn.png" alt="">
                <h5>Burned their holders 100k, 300k, 500k, 800k, 1M.  </h5>
            </div>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/Discord.png" alt="">
                <h5>8% will be through our communities</h5>
            </div>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/news.png" alt="">
                <h5>5% to the Marketing</h5>
            </div>
        </div>
        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/otros.png" alt=""> <img class="icon_small" src="img/github.png" alt="">
                <h5>10% to the others
                    <br>12% belong to gamer developers.
                </h5>
            </div>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/team.png" alt="">
                <h5>15% to the Team</h5>
            </div>
        </div>

    </div>
</section>
<!---------------mapa de ruta inician aqui--------------------------------------------------------------->
<section id=RouteMap class="text_centered lg_padding_v bg_block-hero">
    <div class="wrapper">
        <img class="icon_large" src="img/octo-cop.png" alt="">
        <h3 class="h2">The Router Map</h3>
        <p class="lg_padding_h">DATZ will do its best to comply with its road map, bearing in mind that the road has potholes.</p>
        <div class="row base_padding_v">
            <div class="columns medium-4">
                <img class="icon_medium" src="img/mod-authentication-grey1.png" alt="">
                <p class="h5">Token sale </p>
                <p> DATZ will sell 10% of its tokens in <br> PRIVATE SALE, PRE-ICO, <br> ICO-1, ICO-2, ICO-3.</p>
                <a class="h5 undecorate text_accent-blue" href="https://github.com/DATZ-DTZ">             </a>
            </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="img/mod-authentication-grey.png" alt="">
                <p class="h5">Listings and others</p>
                <p>DATZ in Ape SWAP providing liquidity,
                    market analyzers, centralized exchange,
                    tipcc bot, and cctip wallet, marketing.t</p>
                </div>
            <div class="columns medium-4">
                <img class="icon_medium" src="img/mod-authentication-grey2.png" alt="">
                <p class="h5">Production and Development</p>
                <p>Game production (games will be created that have DATZ economics, and union with projects that want DATZ economics)
                    and project development (project extensions will be created for the use of DATZ-DTZ)</p>
            </div>
        </div>
        <div class="base_padding_v">
            <a href="http://discord.gg/hj3azmZxJR" class="button bg_accent-blue h5">NOTE: DATZ WILL TRY TO FOLLOW
                FOOT THE LETTER YOUR ROAD MAP,
                PLEASE NOTE THAT SOME STEPS MAY BE OMITTED.
                </a>
        </div><div id="buy"></div>
        <h3 class="h2"><a class="button bg_accent-green">PRE-ICO</a>==== ICO-1 ==== ICO-2 ==== ICO-3</h3>
    </div>
</section>
<!--------------ventas----------------------------------------------------------------------------------->
<section>
    <div class="row" content-group ng-init="active = '???'">

        <div class="columns medium-4 text_centered">
            <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-2'}">
                <img class="poke_out icon_large" src="img/Basico.png" alt="">
                <p class="h5">Basic Sales</p>
                <p class="h6">1 DTZ X 0.005 BUSD (min 200 DTZ) </p>
                <img class="icon_small" src="img/more.png" alt=""><a href="https://forms.gle/eU6RPQHeh694yLw57">BUY NOW</a>
            </div>
        </div>
    
        <div class="columns medium-4 text_centered">
            <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-3'}">
                <img class="poke_out icon_large" src="img/Normal.png" alt="">
                <p class="h5">Standard Sales</p>
                <p class="h6"> 201-999 DTZ = 0.004 BUSD x DTZ </p>
                <img class="icon_small" src="img/more.png" alt=""><a href="https://forms.gle/eU6RPQHeh694yLw57">BUY NOW</a>
            </div>
        </div>
    
        <div class="columns medium-4 text_centered">
            <div class="bg_white block_shadow base_padding home_hero_block" ng-class="{active: active == '#hero-more-1'}">
                <img class="poke_out icon_large" src="img/Premium.png" alt="">
                <p class="h5">Premium Sales</p>
                <p class="h6">  >1000 DTZ = 0.0035 BUSD (OFFER) </p>
                <img class="icon_small" src="img/more.png" alt=""><a href="https://forms.gle/eU6RPQHeh694yLw57">BUY NOW</a>
            </div>
        </div>
    
    
    </div>
</section>
<!---------------comunidades inician aqui---------------------------------------------------------------->
<section id=Comunnity class="bg_block-light text_centered lg_padding_v">
    <div class="wrapper">
            <h4 class="h2">Connect with us</h4>
            <span>our communities. </span>
            <p> you will surely see a change.</p>
            <div class="row base_padding_v" ng-controller="SocialFeeds" ng-init="getFeeds()">

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/twitter.png" alt="">
                <h5>@DDatozhi</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://twitter.com/DDatozhi">Visit DATZ on twitter</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/Discord.png" alt="">
                <h5>DATZ - DTZ</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="http://discord.gg/hj3azmZxJR">Visit DATZ on Discord</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/github.png" alt="">
                <h5>DATZ-DTZ</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://github.com/DATZ-DTZ">Visit DATZ on GitHub</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/Facebook.png" alt="">
                <h5>Datz Datozhi</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://facebook.com/DatzOfficialCypto">Visit DATZ on facebook</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/reddit.png" alt="reddit icon">
                <h5>DATZ - DTZ</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="http://www.reddit.com/r/DATZ_community">Visit DATZ on Reddit</a>
        </div>
        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/telegram.png" alt="telegam icon">
                <h5>DATZ official group </h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://t.me/DATZgroupOfficial">Visit DATZ on Telegram</a>
        </div>
        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/blog.png" alt="blog icon">
                <h5>Datozhi</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://datozhi.blogspot.com/">Visit DATZ on blog</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/pubishop.png" alt="publish icon">
                <h5>DATZ - $DTZ</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="https://www.publish0x.com/tag/dollar-dtz-tyxqmow">Visit DATZ on Publish0x</a>
        </div>

        <div class="column medium-4">
            <div class="social-header">
                <img class="icon_small" src="img/medium.png" alt="medium icon">
                <h5>Datzdatozhi</h5>
            </div>
            <a class="h5 undecorate text_accent-blue" target="_blank" href="http://datzdatozhi.medium.com">Visit DATZ on medium</a>
        </div>

    </div>
</section>
<!--------------SOPORTE---------------------------------------------------------------------------------->
<section id=Support class="text_centered h5 base_padding_v clearfix">
    <div class="wrapper">
        <nav class="inline_nav">
            <ul>
                <li><img width="80" src="img/mail-list.png" alt=""></li>
                <li><span>Mailing Lists:</span></li>
                <li><a href="#">datzdatozhi@gmail.com</a></li>
                <li><a href="https://t.me/AndE2">@AndE2 - Telegram</a></li>
            </ul>
        </nav>

    </div>
</section>
<!-------------NECSITAS CONPRAR Y PATROCINIO AQUI-------------------------------------------------------->
<section class="bg_block-navy lg_padding_v inner_padded_blocks home_support_block">
    <div class="wrapper">
        <div class="row">
            <div class="columns medium-6 base_padding_v">
                <div class="inner">
                    <h4 class="h2 text-white">Need buy DATZ?</h4>
                    <p class="text-white">Go to the following form or request assistance from members of the DATZ community.</p>
                    <a href="https://forms.gle/eU6RPQHeh694yLw57" class="button bg_accent-green h5">PRE-ICO</a>
                    <a href="http://discord.gg/hj3azmZxJR" class="button bg_accent-green h5">Comunnity</a>
                </div>
            </div>
            <div class="columns medium-6 base_padding_v">
                <div class="inner">
                    <h4 class="h2 text-white">Be part of our sponsors</h4>
                    <p class="text-white"></p>
                    <img width="90" src="img/empower.png" alt="Empower Network"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------PIE DE PAGINA FINA-->
    </div><footer class="global_footer bg_block-dark lg_padding_v">

    <div class="wrapper">
        <div class="row">
            <div class="columns medium-4">
                <div class="footer_main">
                    <img class="footer_logo" width="150" src="img/wordmark-white.png" alt="">
                    <div class="footer-social">
                        <a href="https://github.com/DATZ-DTZ"><img class="icon_small" src="img/github.png" alt="GitHub"></a>
                        <a href="https://facebook.com/DatzOfficialCypto"><img class="icon_small" src="img/Facebook.png" alt="facebook"></a>
                         <a href="https://twitter.com/DDatozhi"><img class="icon_small" src="img/twitter.png" alt="twitter"></a>
                        <a href="http://discord.gg/hj3azmZxJR"><img class="icon_small" src="img/Discord.png" alt="discord"></a>
                    </div>
                    <p>&copy; 2021 The DATZ GAMERS Project and Contributors</p>
                </div>
            </div>
            <div class="columns medium-8">
                <nav class="footer_nav h6 row small-up-2">
                    <ul>
                        <li><a href="">Community</a></li>
                        <li><a href="https://twitter.com/DDatozhi">Twitter</a></li>
                        <li><a href="https://github.com/DATZ-DTZ">GitHub</a></li> 
                        <li><a href="http://discord.gg/hj3azmZxJR">Discord</a></li>
                        <li><a href="https://t.me/DATZgroupOfficial">Telegram</a></li>
                        <li><a href="https://facebook.com/DatzOfficialCypto">Facebook</a></li>
                    </ul>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="img/BlackPaperDATZ-DTZ.pdf">Black Paper</a></li>
                        <li><a href="#RuotemMap">Ruote map</a></li>
                        <li><a href="https://t.me/AndE2">Integration</a></li>
                        <li><a href="link de medium">FAQs</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Support</a></li>
                        <li><a href="http://discord.gg/hj3azmZxJR">Discord</a></li>
                        <li><a href="">datzdatozhi@gmail.com</a></li>
                        <li><a href="https://t.me/AndE2">@AndE2 - Telegram</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.12.1.min.js"><\/script>')</script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>
